@model SmartEmployee.Web.Data.Entities.Office

@{
    ViewData["Title"] = "Delete Office";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete Office</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Office</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.officeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.officeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.officeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.officeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.officePhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.officePhoneNumber)
        </dd>
    </dl>
    
    <form asp-action="DeleteOffice">
        <input type="hidden" asp-for="officeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn btn-secondary" asp-action="IndexOffice">Back to List</a>
    </form>
</div>
