@model IEnumerable<SmartEmployee.Web.Data.Entities.Company>

@{
    ViewData["Title"] = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 text-gray-800">Company</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a asp-action="CreateCompany" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-plus fa-sm text-white-50"></i> Create New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.companyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.companyNit)
                        </th>
                        <th>
                            Payroll Type
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.companyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.companyNit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayrollType.payrollTypeDescription)
                            </td>
                            <td>
                                <a asp-action="EditCompany" asp-route-id="@item.companyId" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm">
                                    <span class="icon text-black-50">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span><span class="text-black-50">Edit</span>
                                </a>
                                <a asp-action="DeleteCompany" asp-route-id="@item.companyId" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span><span class="text">Delete</span>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>