@model IEnumerable<SmartEmployee.Web.Data.Entities.Arl>

@{
    ViewData["Title"] = "IndexArl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Arl</h1>

<p>
    <a class="btn btn-primary" asp-action="CreateArl">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.arlName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.arlNit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.arlName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.arlNit)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="EditArl" asp-route-id="@item.arlId">Edit</a> |
                <a class="btn btn-danger" asp-action="DeleteArl" asp-route-id="@item.arlId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
